# Base de datos
MONGODB_URI=mongodb://localhost:27017/bolsa-trabajo-estudiantil

# JWT
JWT_SECRET=tu-jwt-secret-super-seguro-aqui
JWT_EXPIRE=7d

# Servidor
PORT=5000
HOST=0.0.0.0
NODE_ENV=development

# Uploads
UPLOAD_PATH=uploads/
MAX_FILE_SIZE=5242880

# CORS
CLIENT_URL=http://localhost:3000
